<div class="flex">
	<div class="center-mobile">
		<div class="title margin-bottom-10">Mushroomdev ‒ Воплощаем ваше видение в жизнь</div>
		<div class="description margin-bottom-10">Создаем уникальные онлайн продукты для вас и ваших клиентов.</div>
		<%= link_to 'Написать в Telegram', 'https://t.me/ipatov', target: '_blank', class: 'btn btn-s' %>
	</div>
	<div class="mushroom center-mobile">
		<%= image_tag 'mushroom.png' %>
	</div>
</div>
<div class="description-bold center-mobile margin-bottom-10">Разработка онлайн продуктов и консультирование стартапов</div>
<div class="description center-mobile margin-bottom-10">От создания лендингов до высоконагруженных сервисов</div>

<div class="energy">
	<%= image_tag 'energy.png' %><span class="line"></span>
	<%= image_tag 'energy-2.png' %><span class="line"></span>
	<%= image_tag 'energy-3.png' %><span class="line"></span>
	<%= image_tag 'energy-4.png' %>
</div>
